// Resets, clearfix
@import "sass/partials/_reset.scss";
@import "sass/partials/_clearfix.scss";


// media query ranges

$small: "only screen and (min-width: 200px) and (max-width: 650px)";
$large: "only screen and (min-width: 1000px)";

// Mixins
@mixin small {
  @media #{$small} {
    @content;
  }
}
@mixin large {
  @media #{$large} {
    @content;
  }
}

//
body {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 72px;
}

.columns {
  font-size: 40px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.toDoContainer {
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  flex: 1 1 calc(90%/3);

}

.doingContainer {
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid black;
  display:inline-block;
  text-align: center;
  flex: 1 1 calc(90%/3);
}

.doneContainer {
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid black;
  display:inline-block;
  text-align: center;
  flex: 1 1 calc(90%/3);
}

.card {
  font-family: 'Raleway', sans-serif;
  // box-sizing: border-box;
  display:inline-block;
  width: 200px;
  height: 125px;
  // text-align: center;
  font-size: 14px;
  padding-top: 25px;
  margin: 5px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  // // margin: 0 auto;
  // // margin: 5px;
}

.cardTitle {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}