// Resets, clearfix
@import "sass/partials/_reset.scss";
@import "sass/partials/_clearfix.scss";


// media query ranges

$small: "only screen and (min-width: 200px) and (max-width: 650px)";
$large: "only screen and (min-width: 1000px)";

// Mixins
@mixin small {
  @media #{$small} {
    @content;
  }
}
@mixin large {
  @media #{$large} {
    @content;
  }
}

//


h1 {
  font-size: 50px;
}

.columnTitles {
  font-size: 30px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.toDoContainer {
  box-sizing: border-box;
  margin: 5px;
  // display: inline-block;
  border: 1px solid black;
  // text-align: center;
  // width: 290px;
  // float: left;
  // padding: 5px 15px;
  display: inline-block;
  text-align: center;
  flex: 1 1 calc(90%/3);

}

.doingContainer {
  // display: inline-block;
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid black;
  // text-align: center;
  // width: 294px;
  // float: left;
  // padding: 5px 15px;
  // margin: 0px 5px 5px 5px;
  display:inline-block;
  text-align: center;
  flex: 1 1 calc(90%/3);
}

.doneContainer {
  // display: inline-block;
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid black;
  // text-align: center;
  // width: 270px;
  // padding: 5px 15px;
  // float: right;
  display:inline-block;
  text-align: center;
  flex: 1 1 calc(90%/3);

}

.card {
  display:block;
  border: 1px solid black;
  width: 50%;
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 5px;
}